body {
  box-sizing: border-box; }

*, ::after, ::before {
  box-sizing: inherit;
  outline: none;
  scroll-behavior: smooth; }

.center_block {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

img {
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

.main_services {
  margin-top: 100px; }
  @media (min-width: 1023px) {
    .main_services {
      margin-top: 80px; } }
  .main_services__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; }
    @media all and (max-width: 680px) {
      .main_services__top {
        flex-direction: column;
        align-items: flex-start; } }
  .main_services__title {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #0095D9; }
    @media all and (max-width: 680px) {
      .main_services__title {
        margin-bottom: 30px;
        font-size: 28px; } }
  .main_services__more {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 11px 54px;
    background: #0095D9;
    border-radius: 500px;
    text-decoration: none;
    display: block;
    transition: all .3s ease-out; }
    .main_services__more:hover {
      background: #FF8006; }
  .main_services__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    pointer-events: none; }
    .main_services__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main_services__blocks {
    position: relative;
    padding-bottom: 52px; }
  .main_services__block {
    position: relative;
    min-height: 350px;
    max-height: 350px;
    padding: 30px 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none; }
    .main_services__block:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: all .3s ease-out; }
    .main_services__block:hover:before {
      opacity: 1; }
    @media all and (max-width: 480px) {
      .main_services__block {
        width: 243px; } }
  .main_services__info {
    position: relative;
    z-index: 2; }
  .main_services__tit {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px; }
  .main_services__price {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF; }
    .main_services__price span {
      display: inline-block;
      margin-left: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF; }
  .main_services .slick-slide {
    margin-left: 15px;
    margin-right: 15px; }
    @media all and (max-width: 780px) {
      .main_services .slick-slide {
        margin-left: 10px;
        margin-right: 10px; } }
  .main_services .slick-list {
    margin-left: -15px;
    margin-right: -15px; }
    @media all and (max-width: 780px) {
      .main_services .slick-list {
        margin-left: -10px;
        margin-right: -10px; } }
    @media all and (max-width: 480px) {
      .main_services .slick-list {
        margin-left: 0;
        margin-right: 0;
        width: calc(100% + 15px); } }
  .main_services .slick-next {
    font-size: 0;
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 31px;
    transition: all .3s ease-out;
    border: 0;
    height: 22px;
    background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
    .main_services .slick-next.slick-disabled {
      filter: grayscale(1); }
  .main_services .slick-prev {
    font-size: 0;
    position: absolute;
    bottom: 0;
    right: 61px;
    width: 31px;
    border: 0;
    transition: all .3s ease-out;
    height: 22px;
    background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50%/100% no-repeat;
    transform: rotate(180deg); }
    .main_services .slick-prev.slick-disabled {
      filter: grayscale(1); }
  .main_services .slick-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 8px;
    left: 0;
    max-width: 155px;
    width: 100%; }
    .main_services .slick-dots li {
      margin: 0;
      padding: 0;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      width: 15px;
      height: 15px;
      margin-right: 15px; }
      .main_services .slick-dots li button {
        margin: 0;
        padding: 0;
        width: 15px;
        height: 15px;
        border: 0;
        transition: all .3s ease-out;
        background: #CCCCCC;
        opacity: 0.5;
        border-radius: 50%;
        font-size: 0; }
      .main_services .slick-dots li.slick-active button {
        opacity: 1;
        background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%230095D9'/%3E%3Ccircle cx='7.5' cy='7.5' r='5.5' fill='white'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.5' fill='%230095D9'/%3E%3C/svg%3E%0A") 50%/100% no-repeat; }
