body {
	box-sizing: border-box; 
	margin: 0;
}
*, ::after, ::before {
	box-sizing: inherit;
	outline: none;
	scroll-behavior: smooth; 
}
.center_block {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px; 
}
img {
	max-width: 100%;
	height: auto; 
}
textarea {
	resize: none; 
}
.header {
	z-index: 3;
	padding-bottom: 30px !important;
}
.new_bread {
	.breadcrumbs-wrapper__inner {
		padding-top: 0 !important;
		border-top: 0 !important;
	}
}
// main_first
.main_first {
	@media all and (max-width: 1023px) {
		padding: 0 !important;
	}
	&__blocks {
		background: #FCFCFC url("data:image/svg+xml,%3Csvg width='634' height='463' viewBox='0 0 634 463' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M631.286 234.205C615.496 305.04 514.805 311.985 458.819 358.164C422.04 388.501 402.962 435.282 360.718 457.381C312.403 482.654 255.595 510.744 204.742 491.073C154.146 471.503 146.735 403.978 112.94 361.541C76.7372 316.079 -4.40883 292.139 0.187671 234.205C4.88872 174.953 87.5654 160.175 132.045 120.749C163.985 92.4377 187.873 59.0355 223.801 35.9949C272.15 4.98888 318.657 -40.6281 375.875 -35.6202C436.54 -30.3105 482.897 18.1107 524.76 62.3364C572.257 112.514 646.318 166.768 631.286 234.205Z' fill='%23F5F5F5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M567.423 233.684C554.831 290.226 474.534 295.77 429.888 332.631C400.558 356.847 385.345 394.189 351.656 411.828C313.128 432.002 267.826 454.424 227.272 438.723C186.924 423.101 181.014 369.201 154.065 335.327C125.194 299.038 60.484 279.928 64.1495 233.684C67.8984 186.388 133.829 174.592 169.3 143.121C194.77 120.522 213.821 93.8597 242.471 75.4681C281.027 50.7183 318.115 14.3057 363.744 18.3032C412.121 22.5415 449.089 61.1925 482.473 96.4945C520.35 136.547 579.41 179.854 567.423 233.684Z' stroke='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M501.835 232.978C492.535 274.655 433.226 278.741 400.25 305.911C378.587 323.76 367.35 351.285 342.467 364.287C314.009 379.157 280.549 395.683 250.595 384.11C220.793 372.596 216.428 332.866 196.523 307.898C175.199 281.15 127.403 267.064 130.11 232.978C132.879 198.117 181.577 189.422 207.776 166.225C226.589 149.568 240.66 129.915 261.821 116.359C290.299 98.1163 317.693 71.277 351.395 74.2235C387.127 77.3475 414.432 105.837 439.09 131.857C467.066 161.38 510.689 193.301 501.835 232.978Z' stroke='white'/%3E%3C/svg%3E%0A") 50% / contain no-repeat;
	}
	&__block {
		display: flex !important;
		@media all and (max-width: 1023px) {
			flex-direction: column;
		}
	}
	&__l-side {
		width: 28%;
		font-size: 0;
		padding-bottom: 40px;
		display: flex;
		align-items: flex-start;
		img {
			width: 100%;
		}
		@media all and (max-width: 1023px) {
			width: 100%;
			height: 260px;
			overflow: hidden;
			padding: 0;
			padding-right: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		@media all and (max-width: 680px) {
			height: 130px;
		}
	}
	&__c-side {
		width: calc(100% - 56%);
		padding: 30px 28px;
		text-align: center;
		@media all and (max-width: 1023px) {
			width: 100%;
			padding: 20px 15px;
		}
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 56px;
		line-height: 66px;
		letter-spacing: 0.06em;
		color: #000000;
		margin-bottom: 24px;
		br {
			display: none;
		}
		@media all and (max-width: 1023px) {
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 35px;
			letter-spacing: normal;
		}
	}
	&__text {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #000000;
		margin-bottom: 20px;
		@media all and (max-width: 1023px) {
			font-size: 14px;
			line-height: 140%;
			margin-bottom: 30px;
		}
	}
	&__more {
		text-decoration: none;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		background: linear-gradient(0deg, #FF8006, #FF8006), #02B896;
		border-radius: 500px;
		transition: all .3s ease-out;
		padding: 20px 60px;
		display: inline-block;
		&:hover { 
			background: #0095D9;
		}
		@media all and (max-width: 1023px) {
			max-width: 330px;
			width: 100%;
		}
	}
	&__r-side {
		width: 28%;
		font-size: 0;
		padding-top: 40px;
		display: flex;
		align-items: flex-end;
		img {
			width: 100%;
		}
		@media all and (max-width: 1023px) {
			width: 100%;
			height: 260px;
			overflow: hidden;
			padding: 0;
			padding-left: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		@media all and (max-width: 680px) {
			height: 130px;
		}
	}
	&__navs {
		width: 100%;
		@media all and (max-width: 870px) {
			overflow: auto;
			padding-bottom: 10px;
		}
	}
	.slick-dots {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: flex-start;
		width: 100%;
		@media all and (max-width: 870px) {
			width: max-content;
		}
	}
	li {
		width: 25%;
		position: relative;
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.06em;
		transition: all .3s ease-out;
		color: #CCCCCC;
		border-top: 5px solid #CCCCCC;
		position: relative;
		cursor: pointer;
		@media all and (max-width: 870px) {
			width: 210px;	
		}
		&:before {
			content: '';
			width: 2px;
			height: 11px;
			transition: all .3s ease-out;
			background: #CCCCCC;
			left: -1px;
			top: 0px;
			position: absolute;
		}
		&:after {
			content: '';
			width: 2px;
			transition: all .3s ease-out;
			height: 11px;
			background: #CCCCCC;
			right: -1px;
			top: 0px;
			position: absolute;
		}
		&.slick-active {
			color: #000;
			border-color: #0095D9;
			&:after, &:before {
				z-index: 2;
				background: #0095D9;
			}
			span {
				&:before {
					opacity: 1;
				}
			}
		}
		&:first-child {
			&:before {
				left: 0;
			}
		}
		&:last-child {
			&:after { 
				right: 0px;
			}
		}
	}
}
// main_first end
// main_services
.main_services {
	margin-top: 100px;
	@media (min-width: 1023px) {
		margin-top: 80px;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
		@media all and (max-width: 680px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		@media all and (max-width: 680px) {
			margin-bottom: 30px;
			font-size: 28px;
		}
	}
	&__more {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		padding: 11px 54px;
		background: #0095D9;
		border-radius: 500px;
		text-decoration: none;
		display: block;
		transition: all .3s ease-out;
		&:hover {
			background: #FF8006;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__blocks {
		position: relative;
		@media all and (max-width: 1023px) {
			padding-bottom: 52px;
		}
	}
	&__block {
		position: relative;
		min-height: 350px;
		max-height: 350px;
		padding: 30px 20px;
		display: flex !important;
		flex-direction: column;
		justify-content: flex-end;
		text-decoration: none;
		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
			opacity: 0;
			transition: all .3s ease-out;
		}
		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 23, 0) 28.5%, rgba(0, 0, 23, 0.85) 100%);
			opacity: 1;
			transition: all .3s ease-out;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
		@media all and (max-width: 480px) {
			width: 243px;
		}
	}
	&__info {
		position: relative;
		z-index: 2;
	}
	&__tit {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #FFFFFF;
		margin-bottom: 10px;
	}
	&__price {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		color: #FFFFFF;
		span {
			display: inline-block;
			margin-left: 5px;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			color: #FFFFFF;
		}
	}
	.slick-slide {
		margin-left:  15px;
		margin-right:  15px;
		@media all and (max-width: 780px) {
			margin-left:  10px;
			margin-right:  10px;
		}
	}
	.slick-list {
		margin-left: -15px;
		margin-right: -15px;
		@media all and (max-width: 780px) {
			margin-left: -10px;
			margin-right: -10px;
		}
		@media all and (max-width: 480px) {
			margin-left: 0;
			margin-right: 0;
			width: calc(100% + 15px);
		}
	}
	.slick-next {
		font-size: 0;
		position: absolute;
		bottom: 0;
		right: 0px;
		width: 31px;
		transition: all .3s ease-out;
		cursor: pointer;
		border: 0;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		&.slick-disabled {
			filter: grayscale(1);
		}
	}
	.slick-prev {
		font-size: 0;
		position: absolute;
		cursor: pointer;
		bottom: 0;
		right: 61px;
		width: 31px;
		border: 0;
		transition: all .3s ease-out;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		transform: rotate(180deg);
		&.slick-disabled {
			filter: grayscale(1);
		}
	}
	.slick-dots {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		bottom: 8px;
		left: 0;
		max-width: 155px;
		width: 100%;
		li {
			margin: 0;
			padding: 0;
			margin-top: 2.5px;
			margin-bottom: 2.5px;
			width: 15px;
			height: 15px;
			margin-right: 15px;
			button {
				margin: 0;
				padding: 0;
				width: 15px;
				height: 15px;
				border: 0;
				transition: all .3s ease-out;
				background: #CCCCCC;
				opacity: 0.5;
				border-radius: 50%;
				font-size: 0;
			}
			&.slick-active {
				button {
					opacity: 1;
					background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%230095D9'/%3E%3Ccircle cx='7.5' cy='7.5' r='5.5' fill='white'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.5' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
				}
			}
		}
	}
}
// main_services end
// main_pref
.main_pref {
	margin-top: 100px;
	background: #EEF2F3;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__in {
		padding-top: 100px;
		padding-bottom: 70px;
		@media all and (max-width: 1023px) {
			padding-top: 80px;
			padding-bottom: 60px;
		}
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		@media all and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	&__blocks {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
		@media all and (max-width: 680px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__block {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		width: calc(33% - 30px);
		@media all and (max-width: 1023px) {
			width: calc(50% - 30px);
			margin-bottom: 20px;
		}
		@media all and (max-width: 680px) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__img {
		width: 76px;
		height: 76px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		margin-right: 24px;
		flex: 0 0 76px;
		@media all and (max-width: 680px) {
			flex: 0 0 60px;
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}
	}
	&__tit {
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		@media all and (max-width: 680px) {
			font-size: 16px;
		}
	}
	&__text {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		color: #454545;
		@media all and (max-width: 680px) {
			font-size: 14px;
		}
	}
}
// main_pref end
// main__cat
.main__cat {
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__blocks {
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
		@media all and (max-width: 680px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__block {
		margin-left: 15px;
		margin-right: 15px;
		width: calc(33.3333% - 30px);
		margin-bottom: 30px;
		position: relative;
		min-height: 300px;
		max-height: 300px;
		padding: 30px 20px;
		display: flex !important;
		flex-direction: column;
		justify-content: flex-end;
		text-decoration: none;
		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
			opacity: 0;
			transition: all .3s ease-out;
		}
		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 23, 0) 28.5%, rgba(0, 0, 23, 0.85) 100%);
			opacity: 1;
			transition: all .3s ease-out;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
		@media all and (max-width: 980px) {
			min-height: 240px;
			max-height: 240px;
		}
		@media all and (max-width: 820px) {
			width: calc(50% - 30px);
		}
		@media all and (max-width: 680px) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	&__info {
		position: relative;
		z-index: 2;
	}
	&__tit {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #FFFFFF;
		margin-bottom: 10px;
	}
	&__price {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		color: #FFFFFF;
		span {
			display: inline-block;
			margin-left: 5px;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			color: #FFFFFF;
		}
	}
}
// main__cat end
// main_prods
.main_prods {
	background: #EEF2F3;
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__in {
		padding-top: 100px;
		padding-bottom: 100px;
		@media all and (max-width: 1023px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		padding-right: 100px;
		@media all and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	&__block {
		text-decoration: none;
		background: #fff;
		@media all and (max-width: 480px) {
			width: 243px;
		}
	}	
	&__img {
		height: 270px;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		position: relative;
		@media all and (max-width: 1023px) {
			height: 240px;
		}
	}
	&__flags {
		// pointer-events: none;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 15px 10px;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__flag {
		margin-right: 10px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		padding: 10px 15px;
		color: #FFFFFF;
		margin-bottom: 10px;
		background: var(--background);
	}
	&__info {
		padding: 20px;
	}
	&__tit {
		margin-bottom: 10px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
	}
	&__prices {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__price {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #FF8006;
		margin-right: 10px;
	}
	&__old_price {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		text-decoration-line: line-through;
		color: #CCCCCC;
		display: inline-block;
	}
	&__button {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		background: #0095D9;
		border-radius: 500px;
		padding: 11px 10px;
		transition: all .3s ease-out;
		&:hover { 
			background: #FF8006;
		}
	}
	.slick-slide {
		margin-left:  15px;
		margin-right:  15px;
		@media all and (max-width: 780px) {
			margin-left:  10px;
			margin-right:  10px;
		}
	}
	.slick-list {
		margin-left: -15px;
		margin-right: -15px;
		@media all and (max-width: 780px) {
			margin-left: -10px;
			margin-right: -10px;
		}
		@media all and (max-width: 480px) {
			margin-left: 0;
			margin-right: 0;
			width: calc(100% + 15px);
		}
	}
	.slick-next {
		font-size: 0;
		position: absolute;
		top: -60px;
		right: 0px;
		width: 31px;
		transition: all .3s ease-out;
		cursor: pointer;
		border: 0;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		&.slick-disabled {
			filter: grayscale(1);
		}
		@media all and (max-width: 1023px) {
			top: -57px;
		}
	}
	.slick-prev {
		font-size: 0;
		position: absolute;
		top: -60px;
		right: 61px;
		width: 31px;
		cursor: pointer;
		border: 0;
		transition: all .3s ease-out;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		transform: rotate(180deg);
		&.slick-disabled {
			filter: grayscale(1);
		}
		@media all and (max-width: 1023px) {
			top: -57px;
		}
	}
}
// main_prods end
// main_reviews
.main_reviews {
	margin-bottom: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
		margin-bottom: 80px;
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		padding-right: 100px;
		@media all and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	&__block {
		border: 1px solid #EEF2F3;
		padding: 30px;
		@media all and (max-width: 1023px) {
			padding: 20px;
		}
		@media all and (max-width: 580px) {
			width: 265px;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 15px;
		flex: 0 0 50px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media all and (max-width: 1023px) {
			margin-right: 10px;
		}
	}
	&__hide {
		display: none;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: #000000;
	}
	&__info {
		width: 100%;
	}
	&__name {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		margin-bottom: 5px;
		@media all and (max-width: 1023px) {
			font-size: 16px;
		}
	}
	&__date {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		color: #979797;
		@media all and (max-width: 1023px) {
			font-size: 12px;
		}
	}
	&__text {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: #000000;
	}
	&__bottom {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		@media all and (max-width: 1023px) {
			margin-top: 30px;
		}
	}
	&__more {
		cursor: pointer;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		text-decoration-line: underline;
		color: #0095D9;
		&:hover {
			text-decoration: none;
		}
	}
	.slick-slide {
		margin-left:  15px;
		margin-right:  15px;
		@media all and (max-width: 780px) {
			margin-left:  10px;
			margin-right:  10px;
		}
	}
	.slick-list {
		margin-left: -15px;
		margin-right: -15px;
		@media all and (max-width: 780px) {
			margin-left: -10px;
			margin-right: -10px;
		}
		@media all and (max-width: 480px) {
			margin-left: 0;
			margin-right: 0;
			width: calc(100% + 15px);
		}
	}
	.slick-next {
		font-size: 0;
		position: absolute;
		top: -60px;
		right: 0px;
		width: 31px;
		transition: all .3s ease-out;
		cursor: pointer;
		border: 0;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		&.slick-disabled {
			filter: grayscale(1);
		}
		@media all and (max-width: 1023px) {
			top: -57px;
		}
	}
	.slick-prev {
		font-size: 0;
		position: absolute;
		top: -60px;
		right: 61px;
		width: 31px;
		cursor: pointer;
		border: 0;
		transition: all .3s ease-out;
		height: 22px;
		background: url("data:image/svg+xml,%3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.0141 10.2165L18.9466 1.10797L20.0495 0L31 11L20.0495 22L18.9466 20.892L28.0141 11.7835H0V10.2165H28.0141Z' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
		transform: rotate(180deg);
		&.slick-disabled {
			filter: grayscale(1);
		}
		@media all and (max-width: 1023px) {
			top: -57px;
		}
	}
}
// main_reviews end
// main_text
.main_text {
	background: #EEF2F3;
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__in {
		display: flex;
		justify-content: space-between;
		padding-top: 100px;
		padding-bottom: 100px;
		@media all and (max-width: 1023px) {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media all and (max-width: 960px) {
			flex-direction: column;
		}
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		@media all and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	&__text {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
	}
	&__l-side {
		width: calc(100% - 420px);
		@media all and (max-width: 960px) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__r-side {
		max-width: 400px;
		width: 100%;
		@media all and (max-width: 960px) {
			max-width: 100%;
			padding-left: 50px;
			padding-right: 50px;
			text-align: center;
		}
	}
}
// main_text end
// main_vendors
.main_vendors {
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		@media all and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	&__blocks {
		display: flex;
		flex-wrap: wrap;
		@media all and (max-width: 680px) {
			justify-content: space-between;
		}
	}
	&__block {
		width: 20%;
		height: 135px;
		outline: 1px solid #EEF2F3;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		img {
			filter: grayscale(1);
			transition: all .3s ease-out;
			opacity: .4;
			max-height: 100%;
			width: auto;
		}
		&:hover {
			img {
				filter: unset;
				opacity: 1;
			}
		}
		@media all and (max-width: 960px) {
			width: 33%;
		}
		@media all and (max-width: 680px) {
			width: calc(50% - 10px);
			margin-bottom: 20px;
		}
	}
}
// main_vendors end
// main_advice
.main_advice {
	margin-bottom: 80px;
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-bottom: 60px;
		margin-top: 80px;
	}
	&__in {
		display: flex;
		justify-content: space-between;
		background: url('../img/bg_abc.jpg') 50% / cover no-repeat;
		padding: 60px;
		@media all and (max-width: 860px) {
			flex-direction: column;
			padding: 30px;
		}
	}
	&__l-side {
		flex: 0 0 600px;
		@media all and (max-width: 1023px) {
			width: calc(100% - 280px);
			flex: none;
		}
		@media all and (max-width: 860px) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__r-side {
		max-width: 260px;
		width: 100%;
		@media all and (max-width: 860px) {
			min-width: 100%;
		}
	}
	&__title {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		color: #000000;
		margin-bottom: 30px;
		@media all and (max-width: 680px) {
			font-size: 28px;
			margin-bottom: 20px;
		}
	}
	&__subtitle {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		color: #000000;
		@media all and (max-width: 680px) {
			font-size: 16px;
		}
	}
	&__text {
		margin-bottom: 18px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		color: #000000;
		@media all and (max-width: 680px) {
			margin-bottom: 20px;
		}
	}
	&__button {
		background: linear-gradient(0deg, #FF8006, #FF8006), #02B896;
		border-radius: 500px;
		transition: all .3s ease-out;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		padding: 20px 10px;
		text-decoration: none;
		display: block;
		cursor: pointer;
		&:hover {
			background: #C46000;
		}
		&:active {
			background: #934800;
		}
	}
}
// main_advice end
@media all and (max-width: 1023px) {
	.portfolio__header {
		margin-top: 40px;
	}
	.work-process {
		&--mobile {
			margin-bottom: 0;
		}
	}
}
// r_block
.r_block {
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		color: #fff;
		margin-bottom: 30px;
		@media all and (max-width: 1023px) {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	&__in {
		background: #0095D9 url('../img/bg_logo.png') calc(100% - 90px) 50% no-repeat;
		padding: 40px 60px;
		@media all and (max-width: 1023px) {
			padding: 30px 20px;
			background: #0095D9;
		}
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			font-family: 'Ubuntu', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			color: #FFFFFF;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			@media all and (max-width: 1023px) {
				font-size: 14px;
			}
		}
	}
}
// r_block end
// main__bls
.main__bls {
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		margin-top: 80px;
	}
	&__title {
		font-family: 'Poiret One', cursive;
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		color: #0095D9;
		margin-bottom: 30px;
		@media all and (max-width: 1023px) {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	&__block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		@media all and (max-width: 1023px) {
			flex-direction: column;
			margin-bottom: 30px;
		}
	}
	&__l-side {
		width: calc(50% - 15px);
		font-size: 0;
		@media all and (max-width: 1023px) {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	&__r-side { 
		width: calc(50% - 15px);
		display: flex;
		flex-direction: column;
		@media all and (max-width: 1023px) {
			width: 100%;
		}
	}
	&__tit {
		margin-bottom: 25px;
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		color: #000000;
		@media all and (max-width: 1023px) {
			font-size: 20px;
			margin-bottom: 20px;
		}
	}
	&__text {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		color: #000000;
		margin-bottom: 25px;
		@media all and (max-width: 1023px) {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	&__list {
		margin: 0;
		padding-left: 25px;
		margin-bottom: auto;
		li {
			font-family: 'Ubuntu', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 140%;
			color: #000000;
			margin-bottom: 12px;
		}
	}
	&__info {
		margin-top: 24px;
		display: flex;
		align-items: center;
		padding: 20px;
		background: #EEF2F3;
		justify-content: space-between;
		@media all and (max-width: 1023px) {
			margin-top: 14px;
			flex-direction: column;
		}
	}
	&__price {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		color: #000000;
		@media all and (max-width: 1023px) {
			font-size: 20px;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		span {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
		}
	}
	&__btn {
		font-family: 'Ubuntu', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		transition: all .3s ease-out;
		text-align: center;
		color: #FFFFFF;
		background: #FF8006;
		border-radius: 500px;
		padding: 15px 50px;
		cursor: pointer;
		&:hover { 
			background: #C46000;
		}
		&:active {
			background: #934800;
		}
	}
}
.inline-svg-icon {
	display: none;
}
// main__bls end
.new_block {
	background: #EEF2F3;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 100px;
	margin-top: 100px;
	@media all and (max-width: 1023px) {
		padding-top: 80px;
		padding-bottom: 80px;
		margin-bottom: 80px;
		margin-top: 80px;
	}
	.portfolio__header {
		margin-top: 0;
	}
}
.r_block__title {
	font-family: 'Ubuntu' !important;
	font-weight: 500 !important;
}
.r_block__list {
	padding-left: 25px !important;
	li {
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #fff;
			left: -18px;
			top: 50%;
			margin-top: -2.5px;
		}
	}
}
.new_first {
	position: relative;
	@media all and (max-width: 1023px) {
		h1 {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
	.main_first__navs {
		@media all and (max-width: 1023px) {
			bottom: 0 !important;
		}
		.slick-dots {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		width: auto !important;
		left: 0;
		right: 0;
		position: absolute;
		bottom: 20px;
		z-index: 3;
		.main_first__nav {
			display: none !important;
		}
		li {
			&:before, &::after {
				display: none !important;
			}
			border: 0;
			font-size: 0;
			width: 10px !important;
			height: 10px !important;
			border-radius: 50%;
			background: #000000;
			opacity: 0.5;
			margin-left: 7px;
			transition: all .3s ease-out;
			margin-right: 7px;
			&.slick-active {
				background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='%230095D9'/%3E%3Ccircle cx='5' cy='5' r='4' fill='white'/%3E%3Ccircle cx='5' cy='5' r='2' fill='%230095D9'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
			}
		}
	}
	.main_first__more {
		display: none;
	}
	.main_first__text {
		font-size: 24px;
		text-transform: uppercase;
		@media all and (max-width: 1023px) {
			font-size: 14px !important;
		}
	}
	.main_first__title {
		font-weight: 900 !important;
		padding-bottom: 20px;
		position: relative;
		&:before {
			content: '';
			width: 56px;
			height: 6px;
			background: #FF8006;
			bottom: 0;
			left: 50%;
			margin-left: -28px;
			position: absolute;
		}
	}
}