body {
    box-sizing: border-box; }
  
  *, ::after, ::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth; }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0; }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .wrapper__in {
      padding-top: vw(138); }
  
  .main {
    flex: 1 0 auto; }
  
  .footer {
    flex: 0 0 auto; }
  
  .center_block {
    max-width: 1480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }
  
  img {
    max-width: 100%;
    height: auto; }
  
  textarea {
    resize: none; }
  
  /* width */
  ::-webkit-scrollbar {
    width: vw(10); }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EEEEEE; }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D26351; }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #D26351; }